body
{
 background-color: blueviolet;
}

.anim1
{
    position: relative;
    animation: moveup 5s;
}

@keyframes moveup
{
    from{top:100px;}
    to{top:0px;}
}
.anim2
{
    position: relative;
    animation: moveup 5s;
}

@keyframes moveup
{
    from{bottom:100px;}
    to{bottom:0px;}
}